.wrap.mytheme-information {
  padding: 2%;
  color: #756275;
}
.wrap.mytheme-information ::-webkit-scrollbar {
  height: 10px;
}
.wrap.mytheme-information ::-webkit-scrollbar-track {
  background: #dcdcdc;
  border-radius: 8px;
}
.wrap.mytheme-information ::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 8px;
}
.wrap.mytheme-information a {
  color: #0060f3;
}
.wrap.mytheme-information a:focus {
  box-shadow: none;
  outline: 0;
  border: 1px dotted;
  text-decoration: none;
}
.wrap.mytheme-information .data-content.hide {
  display: none;
}
.wrap.mytheme-information .data-content.active {
  display: block;
}
.wrap.mytheme-information .col-right.ads {
  width: 330px;
  border-bottom: 1px solid #f7f7f7;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 30px rgba(246, 246, 246, 0.4901960784);
  padding: 20px;
  box-sizing: border-box;
}
.wrap.mytheme-information .col-right.ads .boxes h3 {
  font-size: 23px;
  line-height: 1.2;
  margin: 0;
  text-transform: capitalize;
  color: #294960;
  margin-bottom: 25px;
  text-align: center;
}
.wrap.mytheme-information .col-right.ads .boxes img.developer {
  border-radius: 100%;
  margin: 0 auto;
  display: block;
  margin-bottom: 25px;
}
.wrap.mytheme-information .col-right.ads .boxes p.desc {
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
  margin-bottom: 1em;
  text-transform: capitalize;
}
.wrap.mytheme-information .col-right.ads .boxes .boxes-sosmed ul li a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: #756275;
}
.wrap.mytheme-information .col-right.ads .boxes .boxes-sosmed ul li a svg {
  width: 17px;
  height: 17px;
  fill: #222;
}
.wrap.mytheme-information .col-right.ads .boxes .boxes-sosmed ul li a span {
  display: block;
  margin-left: 8px;
}
.wrap.mytheme-information header.top-theme-info .mycontainer .myrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  background: linear-gradient(49deg, #006ce1, rgb(193, 0, 218));
  align-items: center;
  padding: 5% 3%;
  border-radius: 5px;
}
.wrap.mytheme-information header.top-theme-info .mycontainer .myrow .col-left {
  text-align: center;
  margin-bottom: 25px;
  max-width: 50%;
}
.wrap.mytheme-information header.top-theme-info .mycontainer .myrow .col-left h2 {
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
  text-transform: capitalize;
  color: #fff;
  position: relative;
  margin-bottom: 8px;
}
.wrap.mytheme-information header.top-theme-info .mycontainer .myrow .col-left h2 span {
  font-size: 13px;
  position: absolute;
  text-align: center;
  background: #222;
  padding: 3px;
  border-radius: 50px;
  width: 45px;
  top: -5px;
}
.wrap.mytheme-information header.top-theme-info .mycontainer .myrow .col-left p {
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
  text-transform: capitalize;
  color: #fff;
}
.wrap.mytheme-information header.top-theme-info .mycontainer .myrow .col-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
.wrap.mytheme-information header.top-theme-info .mycontainer .myrow .col-right a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 20px;
  background: #4df409;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50px;
  text-decoration: none;
  line-height: 1.6;
  margin: 0;
  text-transform: capitalize;
  color: #222;
}
.wrap.mytheme-information header.top-theme-info .mycontainer .myrow .col-right a svg {
  width: 20px;
  height: 20px;
  fill: #222;
}
.wrap.mytheme-information header.top-theme-info .mycontainer .myrow .col-right a.hire-developer {
  background: linear-gradient(90deg, #072a8c, #7b05aa, #072a8c);
  color: #4df409;
  background-size: 300% 300%;
  animation: gradient 2s ease infinite;
  font-weight: 600;
}
.wrap.mytheme-information header.top-theme-info .mycontainer .myrow .col-right a.hire-developer svg {
  width: 22px;
  height: 22px;
  fill: #4df409;
  margin-right: 8px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.wrap.mytheme-information nav.tabs .mycontainer .myrow .box-menu {
  margin: 30px 0;
  padding: 8px 0;
  border-bottom: 2px solid #e3ecf0;
}
.wrap.mytheme-information nav.tabs .mycontainer .myrow .box-menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.wrap.mytheme-information nav.tabs .mycontainer .myrow .box-menu ul li a {
  padding: 15px;
  margin: 0 8px;
  text-decoration: none;
  font-size: 15px;
  color: #756275;
}
.wrap.mytheme-information nav.tabs .mycontainer .myrow .box-menu ul li a:focus {
  box-shadow: none;
  outline: 0;
  border: none;
}
.wrap.mytheme-information nav.tabs .mycontainer .myrow .box-menu ul li a.active {
  border-bottom: 2px solid #0060f3;
  color: #0060f3;
}
.wrap.mytheme-information nav.tabs .mycontainer .myrow .box-menu ul li a:first-child {
  margin-left: 0;
}
.wrap.mytheme-information section.content.data-content .mycontainer .myrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.wrap.mytheme-information section.content.data-content .mycontainer .myrow .col-left {
  border-bottom: 1px solid #f7f7f7;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 30px rgba(246, 246, 246, 0.4901960784);
  padding: 20px;
  width: calc(100% - 330px - 30px);
  box-sizing: border-box;
}
.wrap.mytheme-information section.content.data-content .mycontainer .myrow .col-left h2 {
  font-size: 35px;
  line-height: 1.2;
  margin: 0;
  text-transform: capitalize;
  color: #294960;
  margin-bottom: 20px;
}
.wrap.mytheme-information section.content.data-content .mycontainer .myrow .col-left p {
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
  text-transform: capitalize;
}
.wrap.mytheme-information section.content.data-content .mycontainer .myrow .col-left img {
  width: 100%;
  max-width: 1000px;
  display: block;
  border-bottom: 1px solid #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #eaeaea;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.wrap.mytheme-information section.content.data-content .mycontainer .myrow .col-left svg {
  width: 20px;
  height: 20px;
}
.wrap.mytheme-information section.content.data-content .mycontainer .myrow .col-left ol,
.wrap.mytheme-information section.content.data-content .mycontainer .myrow .col-left ul {
  margin: 0;
  margin-left: 2em;
  padding: 0;
  font-size: 15px;
  line-height: 1.6;
  text-transform: capitalize;
}
.wrap.mytheme-information section.content.data-content .mycontainer .myrow .col-left ol li,
.wrap.mytheme-information section.content.data-content .mycontainer .myrow .col-left ul li {
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.wrap.mytheme-information section.content.data-content .mycontainer .myrow .col-left ol li a,
.wrap.mytheme-information section.content.data-content .mycontainer .myrow .col-left ul li a {
  display: inline-block;
  font-size: 16px;
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #e3ecf0;
  margin: 0;
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li {
  margin-right: 25px;
  display: flex;
  flex-wrap: wrap;
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  border-radius: 100%;
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span::before {
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  top: 1px;
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span.new {
  background: #2ada12;
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span.new::before {
  content: "N";
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span.update {
  background: #0375f4;
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span.update::before {
  content: "U";
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span.fix {
  background: #e31515;
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span.fix::before {
  content: "F";
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e3ecf0;
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section h2 {
  color: #294960;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  margin: 0 0 20px 0;
  gap: 10px;
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section h2 span {
  font-size: 13px;
  font-weight: 400;
  color: #888;
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul {
  margin: 0;
  padding: 0;
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 21px;
  width: 21px;
  height: 21px;
  margin-right: 12px;
  border-radius: 100%;
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span::before {
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  top: 1px;
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span.new {
  background: #2ada12;
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span.new::before {
  content: "N";
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span.update {
  background: #0375f4;
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span.update::before {
  content: "U";
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span.fix {
  background: #e31515;
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span.fix::before {
  content: "F";
}
.wrap.mytheme-information section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section:first-child {
  padding-top: 25px;
}

@media only screen and (max-width: 1200px) {
  .wrap.mytheme-information.mytheme .col-right.ads {
    width: 100%;
  }
  .wrap.mytheme-information.mytheme section.content.data-content .mycontainer .myrow {
    flex-direction: column-reverse;
  }
  .wrap.mytheme-information.mytheme section.content.data-content .mycontainer .myrow .col-left {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .wrap.mytheme-information.mytheme header.top-theme-info .mycontainer .myrow .col-left {
    max-width: 100%;
  }
  .wrap.mytheme-information.mytheme nav.tabs .mycontainer .myrow .box-menu ul {
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
  }
  .wrap.mytheme-information.mytheme nav.tabs .mycontainer .myrow .box-menu ul li a {
    padding: 15px 5px;
    margin: 0 8px;
  }
}
@media only screen and (max-width: 576px) {
  .wrap.mytheme-information.mytheme {
    padding: 0;
    margin-right: 10px;
  }
  .wrap.mytheme-information.mytheme .col-right.ads .box-buy,
  .wrap.mytheme-information.mytheme .col-right.ads .box-join {
    width: 100%;
    margin-bottom: 20px;
    padding: 25px;
  }
  .wrap.mytheme-information.mytheme .col-right.ads .box-support {
    width: 100%;
    padding: 25px;
  }
  .wrap.mytheme-information.mytheme header.top-theme-info .mycontainer .myrow .col-left h2 {
    margin-bottom: 15px;
  }
  .wrap.mytheme-information.mytheme header.top-theme-info .mycontainer .myrow .col-left h2 span {
    left: 85%;
  }
  .wrap.mytheme-information.mytheme header.top-theme-info .mycontainer .myrow .col-right {
    justify-content: center;
    width: 75%;
  }
  .wrap.mytheme-information.mytheme header.top-theme-info .mycontainer .myrow .col-right .demo,
  .wrap.mytheme-information.mytheme header.top-theme-info .mycontainer .myrow .col-right .documentations,
  .wrap.mytheme-information.mytheme header.top-theme-info .mycontainer .myrow .col-right .buy-theme-pro,
  .wrap.mytheme-information.mytheme header.top-theme-info .mycontainer .myrow .col-right .affiliate-partner {
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=admin-style-submenu.css.map */